body > footer {
	@include clearfix();
	@extend .constrain;
	display: block;
	border-top: 1px #999 solid;
	margin-top: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
	span.copyright {
		float: left;
		font-size: .75em;
		@include media(max-width 700px) { display: block; float: none; }
	}
	ul.menu {
		@include media(max-width 700px) { display: block; float: none; }
	}
}
