@font-face {
	font-family: 'Gibson Regular';
	src: url('../fonts/Gibson-Regular.eot'); /* IE9 */
	src: url('../fonts/Gibson-Regular.eot#iefix') format('embedded-opentype'), /* IE6-8 */
	url('../fonts/Gibson-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Gibson-Regular.ttf') format('truetype'), /* Safari/Android */
	url('../fonts/Gibson-Regular.svg') format('svg'); /* Legacy iOS */
}
